body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image:url('images/papertexture.webp');
}

.linebreak {
    border-bottom: 1px solid #463c4d;
    padding-bottom: 6px;
}

main, nav {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

.main-content {
    margin: 40px auto;
    display: flex;
    background-color: rgb(255, 225, 233);
  }
  
  .main-content > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

header, footer {
    background-color: lightpink;
    padding: 24px 0;
}

nav{
    display: flex;
}

.logo, .link{
    color: rgb(56, 4, 67);
}

.logo{
    margin-right: auto;
}

.link{
    margin: 0 4px;
}

.subheading{
    color: rgb(0, 154, 28);
}

footer{
    color: rgb(56, 4, 67);
    text-align: center;
    margin-top: auto;
}