body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image:url('images/papertexture.webp');
}

.linebreak {
    border-bottom: 1px solid #463c4d;
    margin-bottom: 10px;
}

main, nav {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

p{
    padding: 0 10px;
}

.main-content {
    margin: 40px auto;
    background-color: rgb(255, 225, 233);
    display: flex;
    justify-content: center;
    padding: 20px;
}
  
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}


header, footer {
    background-color: lightpink;
    padding: 24px 0;
}

nav{
    display: flex;
    align-items: baseline;
}

.logo, .link{
    color: rgb(56, 4, 67);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.logo{
    margin-right: auto;
    background-color: rgb(237, 233, 237);
    padding: 20px 10px 0px 10px;
}

.link{
    margin: 0 4px;
}

.subheading{
    color: rgb(67, 0, 154);
    display: flex;
}


aside{
    background-color: #f6e3ff;
    padding: 20px;
    height: fit-content;
}

aside img {
    box-shadow: 2px 2px 6px grey;
    width: 32px;
    margin: 6px 0 3px 6px;
}

footer{
    color: rgb(56, 4, 67);
    text-align: center;
    margin-top: auto;
}